In [1]:
import pandas as pd

## Задание 1

In [3]:
df = pd.read_csv('ratings.csv') # открываю и смотрю файл
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [8]:
def rating_class(rating): # делаю функцию которая возвращяет клас по оненке
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating > 2 and rating <= 4:
        return 'средний рейтинг'
    elif rating == 4.5 or rating == 5:
        return 'высокий рейтинг'

In [9]:
df['clas'] = df.rating.apply(rating_class) # в столбец clas записываю клас, передавая столбец рейтинг в метод apply
df.head()

   userId  movieId  rating   timestamp             clas
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

## Задание 2

In [16]:
df = pd.read_csv('keywords.csv')
df.head(2)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309

In [20]:
def geo (keyword):
    """
    эта функция возвращяет регион
    если какой то город есть в запросе то возвращает регион, иначе undefined
    """
    if 'москва' in keyword or 'тула' in keyword or 'ярославль' in keyword:
        return 'Центр'
    elif 'петербург' in keyword or 'псков' in keyword or 'мурманск' in keyword:
        return 'Северо-Запад'
    elif 'владивосток' in keyword or 'сахалин' in keyword or 'хабаровск' in keyword:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [21]:
df['region'] = df.keyword.apply(geo)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

## Задание 3